@media (max-width: 1000px) {
    header {
        width: 100%;
        
    }
    h1 {
        justify-content: center;
        width: 100%;
        font-size: 20px;
        border-radius: 15px;
        
    }
    h1 img {
        width: 40px;
        height: 40px;
    }

    #calculadora {
        width: 95%;
        min-height: 90%;
        height: fit-content;

    }
}